<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- ==========> Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- ==========> Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans:300,400&display=swap" rel="stylesheet">

    <!-- ==========> Fontawesome -->
    <script src="https://kit.fontawesome.com/7ad7a46aef.js"></script>

    <!-- ==========> CSS file -->
    <link rel="stylesheet" href="../stylesheets/style.css">

    <title>BikeShop - Shop</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-dark">
                    <a class="navbar-brand" href="#">
                    <img src="../images/bike-logo.svg" width="50" height=50" class="d-inline-block align-center" alt="">
                    The Bike Shop Experience
                    </a>
                    <a class="navbar-brand" href="/shop">
                      <i class="fas fa-shopping-cart"></i>
                      My Basket
                    </a>
                </nav>
            </div>
        </div>

        <div class="row mt-5 text-center border border-info">
            Your order has been successfully sent.
        </div>

    </div>

</body>

</html>